---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

import ashleyImage from 'src/assets/images/Ashley.jpeg'
import { Image } from 'astro:assets';




const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Empowering global wellness through  <br />
      <span class="text-accent dark:text-white highlight"> innovative solutions, research, and technology for holistic mental and physical health.</span>
    </Fragment>

    <Fragment slot="subtitle">
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->


  <!-- Features3 Widget ************** -->

  <Features3
    title="Our Team"
    subtitle="Behind every innovation at Divinity Science is a diverse team of passionate individuals. Their expertise spans data analytics, data science specialist, backend research, database management, UI/UX design, marketing strategy, and content creation. This work is underpinned by data cleaning, preprocessing, predictive modeling, sentiment analysis, and thematic analysis to ensure accuracy and reliability. By focusing on high-quality data, our team enables Qubit to process and interpret user information in real time, delivering faster insights and a smoother user experience. Whether refining predictive models, conducting sentiment analysis, or crafting new wellness features, our team’s creativity and collaboration fuel our vision for a healthier, more connected world."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Analysts',
        description:
          'Our team of dedicated analysts leverages data-driven insights and innovative solutions to transform mental and physical wellness, driving meaningful change and improving lives globally.',
        icon: 'tabler:template',
      },
      {
        title: 'Data science specialists',
        description:
          'Our team of data science specialists uses advanced analytics and innovative techniques to drive impactful solutions in mental and physical wellness, improving lives globally.',
        icon: 'tabler:template',
      },
      {
        title: 'Backend researchers',
        description:
          'Our team of backend researchers combines data-driven approaches and cutting-edge technology to develop innovative solutions that enhance mental and physical wellness on a global scale',
        icon: 'tabler:template',
      },
      {
        title: 'Database specialists',
        description:
          'Our team of database specialists ensures seamless data management and optimization, enabling innovative solutions that drive advancements in mental and physical wellness.',
        icon: 'tabler:template',
      },
      {
        title: 'UI/UX designers',
        description:
          'Our team of UI/UX designers creates intuitive and engaging user experiences, crafting visually appealing and accessible solutions that enhance mental and physical wellness.',
        icon: 'tabler:template',
      },
      {
        title: 'Content writers',
        description:
          'Our team of content writers crafts compelling, insightful, and informative content that educates and inspires, driving awareness and engagement in mental and physical wellness.',
        icon: 'tabler:template',
      },
      {
        title: 'Marketing team',
        description:
          'Our marketing team develops strategic campaigns and innovative approaches to promote mental and physical wellness, driving awareness, engagement, and positive impact on a global scale.',
        icon: 'tabler:template',
      },{
        title: 'Managers',
        description:
          'Our managers lead with vision and expertise, driving teams to deliver impactful solutions in mental and physical wellness, fostering collaboration and excellence across all projects.',
        icon: 'tabler:template',
      },
      
      
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Steps2
    title="Our Core Values"
    subtitle="Our core values center around innovation, inclusivity, and creativity, as we combine cutting-edge research and technology to lead the way in mental and physical wellness. We embrace diversity, believing that different perspectives drive boundless innovation and more equitable outcomes. Through passion and imagination, we continuously reinvent wellness practices, viewing challenges as opportunities for growth and evolution. With a focus on maximizing real-world impact, we harness our drive, creativity, and resilience to address wellness challenges head-on. Ultimately, our goal is to create a healthier global community, uniting advanced research, technology, and meaningful engagement for lasting well-being.."
    items={[
      {
        title: 'Research & Technology',
        description:
          'We combine industry research with both newly developed and established technologies to ensure our solutions lead the way in mental and physical wellness.',
      },
      {
        title: 'Diversity',
        description:
          'We embrace inclusivity in all we do, believing that infinite perspectives lead to boundless innovation and more equitable outcomes for everyone.',
      },
      {
        title: 'Passion & Creativity',
        description:
          'Our enthusiasm and imaginative thinking inspire us to reinvent how mental and total wellness can be achieved.',
      },
      {
        title: 'Failure & Evolution via Innovation',
        description:
          'We see every setback as an opportunity to grow and refine our approach, pushing us to adapt and evolve in wellness technology.',
      },
      {
        title: 'Min/Max Impact',
        description:
          'We strive to maximize positive outcomes by harnessing our limitless drive, creativity, and resilience to address real-world challenges head-on.',
      },
      {
        title: 'Healthier Humanity',
        description:
          'Our ultimate goal is a healthier global community, uniting advanced research, cutting-edge technology, and user engagement to create meaningful, lasting well-being for all.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->
  <Image src={ashleyImage} alt="Description of image" width="400" height="200" style="display: block; margin-left: auto; margin-right: auto;"/>

  <Steps2
    title="Leadership"
    subtitle="Ashley Williams is driven by a deep passion for transforming mental health and discovering innovative approaches to total body wellness. With a vision that goes beyond traditional, reactive methods, she leads Divinity Science toward a future where wellness is accessible, engaging, and scientifically advanced. Under her guidance, the team pioneers new ways to integrate technology with holistic health practices. At Divinity, we are dedicated to transforming mental health and total wellness through innovative, technology-driven solutions."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: 'https://www.linkedin.com/in/ashleywilliams-divinityscience/',
    }}
    items={[
      {
        title: '',
        description:
          ' I’m Ashley Williams, and I’ve devoted my career to reinventing how the world thinks about wellness.',
        icon: 'tabler:award',
      },
      {
        title: '',
        description: 'I am the founder & CEO of Divinity Science, where I lead our interdisciplinary mission to redefine mental health and total-body wellness through rigorous interdisciplinary research, advanced technology, and human behavioral science.',
        icon: 'tabler:globe',
      },
      {
        title: '',
        description:
          'My emphasis is on combining neuroscience, human behavior, and quantum physics to establish quantifiable wellness benchmarks that translate into actionable insights. By breaking down fragmented health systems, we deliver scalable solutions that elevate mental and physical health outcomes worldwide. \n',
        icon: 'tabler:message-star',
      }
    ]},
  />

  <!-- Features2 Widget ************** -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'howcanwehelp@divinityscience.com',
        icon: 'tabler:messages',
      },
      {
        title: 'located at',
        description:
          'Austin, TX, USA',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
