---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Divinity Science — personal mental wellness app',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get the app',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'divinity Hero Image' }}
  >
    <Fragment slot="title">
      Divinity Science: The New Dimension of Wellness 
       <span class="hidden xl:inline">For Changing lives </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Divinity Science </span>is transforming wellness by integrating cutting-edge tools from the latest peer-reviewed research into a user-friendly app. This innovative platform makes advanced wellness solutions accessible to everyone, empowering individuals to enhance their well-being through science-backed methods.</span
      >
     
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What are 8 Dimensions of Total Wellness?"
    subtitle="We are committed to transforming total human health by advancing the 8 Dimensions of Total Wellness. Our innovative approach makes personalized health solutions accessible to everyone, empowering individuals to take control of their well-being before issues arise."
    items={[
      {
        title: 'Psychological',
        description:
          'Driven by powerful feelings that can shape thoughts, behaviors, and overall mental well-being.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Social',
        description:
          'Building and maintaining meaningful relationships that foster a sense of connection, support, and community.',
        icon: 'tabler:components',
      },
      {
        title: 'Physical',
        description:
          'Embrace regular exercise, balanced nutrition, and adequate rest to nurture a strong and healthy body.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Intellectual',
        description:
          'Engage in continuous learning and critical thinking to expand knowledge, stimulate curiosity, and foster personal growth.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Vocational',
        description:
          "Enhancing career satisfaction and personal fulfillment through purposeful work and balanced professional growth.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Environmental',
        description:
          'Fostering a healthy connection between individuals and their surroundings to promote well-being and sustainability.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Financial',
        description:
          'Cultivating a sense of security and balance in your financial life, empowering you to make confident decisions, achieve your goals, and build a stable future.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Spiritual',
        description:
          'Nurturing inner peace and purpose through connection, mindfulness, and alignment with one\'s values and beliefs.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline=""
    title="Divinity Science's Blueprint: Where Innovation Meets Wellness!"
    items={[
      {
        title: 'AI-Driven Transformation in Mental Health',
        description:
          'AI-driven innovations are reshaping mental health care through personalization and early detection.',
      },
      {
        title: 'Integrating Quantum Theory with Mental Wellness for Transformative Results.',
        description:
          'Explore the potential of quantum-enhanced precision medicine applications for personalized health interventions.',
      },
      {
        title: 'Revolutionize Total Human Health',
        description:
          'integrating cutting-edge research from quantum physics, neuroscience, psychology, biology, and sociology.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      The future of mental health is being reshaped by A.I. and digital innovation, we harness AI-driven solutions to create personalized mental wellness strategies.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-200 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Improved Public Health Outcomes',
        description: `Preventive measures embedded in the app may reduce healthcare costs by fostering early intervention.`,
      },
      {
        title: 'Equitable Access to Wellness Tools',
        description:
          'The app is designed for users of all ages and backgrounds with access to a smartphone, democratizing access to advanced wellness resources.',
      },
      {
        title: 'Economic Growth in Digital Health',
        description:
          "Contributing to the rapidly growing health app market, projected to reach $300–$500 billion by 2030..",
      },
      {
        title: 'Educational Impact',
        description:
          'Engaging users in understanding the science behind their wellness journey promotes STEM education and literacy.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content"> Broader Impacts </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-200 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Interdisciplinary Innovation',
        description:
          'Synthesizing diverse fields to create a unified framework for holistic wellness.',
      },
      {
        title: 'Neuroplasticity-Driven Design',
        description:
          'Developing AI algorithms that adapt to user behaviors and promote cognitive and behavioral improvements.',
      },
      {
        title: 'Untapped Market Potential',
        description:
          'Introducing technology-driven solutions into a sub market of mental health and wellness that remains under explored.',
      },
      {
        title: 'Transformative Impact:',
        description: `Establishing a new paradigm for personalized wellness interventions through mobile technology.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Key contributions to intellectual merit include: </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-200 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your wellness goals up and running in no time with Divinity Science."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with Wellness! Download our app from app store or store for both android and apple phones, for a free wellness and health care.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add Details</span>',
        description:
          "Pour your vision into it. Add information and wellness details, play games personalised from your mental health, start acheiving your wellness goals",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize Avatar</span>',
        description:
          'Give it your personal touch. Tailor avatars. Your unique flair, amplified by A.I. Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->


  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->
  <!-- Stats Widget ****************** -->

  <!--<Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get the app',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Divinity Science &nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Data Science</span>
    </Fragment>

    <Fragment slot="subtitle">
      leveraging data science to analyze and optimize emotional well-being. By using data-driven insights, it provides personalized solutions and predictive models to enhance mental health strategies and promote overall psychological balance.
    </Fragment>
  </CallToAction>
</Layout>
