---
import { SITE } from 'astrowind:config';
import logoImage from '/src/assets/images/LOGO.png'
import { Image } from 'astro:assets';

---

<style>
  .inline-element {
    display: inline;
    padding: 1px;
    margin: 1px;
  }
</style>
<div class="inline-element">
<Image src={logoImage} alt="A description of my image." width="100" height="100" />

</div>
<div>
  <span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  {SITE?.name}
</span>
</div>
